@font-face {
    font-family: 'Asmaa';
    src: url('fonts/asmaa.eot');
    src: url('fonts/asmaa.eot?#iefix') format('embedded-opentype'), url('fonts/asmaa.woff') format('woff'), url('fonts/asmaa.ttf') format('truetype'), url('fonts/asmaa.otf') format('opentype');
}

a:hover {
    text-decoration: none !important;
}

html, body {
    font-family: "Asmaa" !important;
    margin: 0rem;
    padding: 0rem;
    font-size: 10px;
    text-align: right;
    scroll-behavior: smooth
}

.show {
    display: block !important;
}

.container-fluid {
    width: 100%;
    margin: auto;
}

.container {
    max-width: 150rem;
    margin: auto;
}

.MainNav {
    max-width: 90rem;
    height: 54px;
    position: relative;
    margin: auto;
    background: #fff;
    z-index: 105;
}

.sr-only {
    position: absolute;
    width: 0.1rem;
    height: 0.1rem;
    padding: 0;
    margin: -0.1rem;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
    z-index: 9999999;
}

.navbar-toggle .icon-bar {
    display: block;
    height: 0.3rem;
    width: 2.4rem;
    margin-bottom: 0.4rem;
    line-height: 2.6rem;
    border-radius: 1px;
    box-sizing: border-box;
}

.navbar-toggle .icon-bar {
    background-color: #3fb702;
}

.navbar-toggle {
    position: absolute;
    float: right;
    right: 0rem;
    padding: 1rem 1rem 0.5rem;
    background-color: transparent;
    top: 0.8rem;
    border: 0rem;
    display: none;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.MainNav li:first-child{
    margin-right: 13.4rem;
}
.MainNav li {
    float: right;
    list-style: none;
    /* height: 9.5rem; */
    width: 9.2rem;
    padding: 0rem 1.5rem;
    position: relative;
    margin-right: 3.4rem;
}

/* Nav Icons Style */
.MainNav li .icon {
    width: 6.4rem;
    height: 6.1rem;
    box-sizing: border-box;
    display: inline-block;
    background-size: 39.5rem !important;
    background-position-y: 0 !important;
    border: 1px solid transparent;
}

a.images-nav {
    background: url(../img/nav/icons.svg) no-repeat;
    background-position-x: -8px;
}

a.shows-nav {
    background: url(../img/nav/icons.svg) no-repeat;
    background-position-x: -136px;
}

a.videos-nav {
    background: url(../img/nav/icons.svg) no-repeat;
    background-position-x: -71px;
}

a.games-nav {
    background: url(../img/nav/icons.svg) no-repeat;
    background-position-x: -197px;
}

a.home-nav {
    background: url(../img/nav/icons.svg) no-repeat;
    background-position-x: -260px;
}

.MainNav li .title {
    position: absolute;
    bottom: -0.6rem;
    left: 4rem;
    font-size: 2.4rem;
    font-family: Asmaa;
    color: white;
    text-shadow: 2px 2px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.brand-logo {
    float: right;
    height: 5.4rem;
    width: 5.4rem;
}
 

.brand-logo .logo {
    display: inline-block;
    width: 4.4rem !important;
    height: 4.4rem !important;
    background: url(../img/nav/icons.svg) no-repeat;
    background-position-y: 0px;
    background-size: 28.1rem !important;
    background-position-x: -22.8rem !important;
}

/* Shows */
.content {
    background: url(../img/show-bg.png) center -6px no-repeat #D10200;
    min-height: -webkit-fill-available;
    width: 100%;
    padding-bottom: 50px
}

.jumbotron {
    padding: 2rem 1rem;
    position: relative;
    /* border: 1px solid #fff; */
}

.indentImg {
    z-index: 100;
    width: 50rem;
    position: absolute;
    display: inline-block;
    margin: auto;
    left: -124px;
    right: 0px;
    top: 0;
}

.bubbles {
    z-index: 101;
    position: absolute;
    display: inline-block;
    margin: auto;
    width: 248px;
    right: -363px;
    left: 0px;
    top: 0px;
    height: 304px;
}

.bubbles img {
    width: 24.6rem;
}

.tabs {
    /* border: 1px solid #fff; */
    margin: auto;
    width: 98rem;
    overflow: hidden;
    margin-top: 28.5rem;
    z-index: 1002;
    position: relative;
}

.tabs::after {
    clear: both;
}

.tabs li {
    float: left;
    list-style: none;
    /* border: 1px solid blue; */
}

.tabs .tab {
    display: block;
    width: 30rem;
    height: 20.5rem;
    position: relative;
}

.tabs .tab img {
    width: 25rem;
    margin: auto;
    left: 0px;
    right: 0px;
    position: absolute;
}

.tabs .title {
    text-shadow: 3px 3px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    color: #fff;
    font-size: 41px;
    text-decoration: none !important;
    position: absolute;
    right: 50px;
    left: auto;
    top: auto;
    bottom: 0;
}

.stream {
    width: 99rem;
    margin: auto;
    padding: 0rem;
    overflow: hidden;
    border-image: url(../img/card/cardBlock.svg) 30 fill / 1.5rem;
    border-width: 2.4rem;
    border-style: solid;
}

.card {
    position: relative;
    padding: 0rem;
    width: 30rem;
    height: 22.5rem;
    /* border-image: url(../img/card/cardFrame.svg) 15 fill / 21px; */
    /* border-width: 9px; */
    /* border-style: solid; */
    transform: scale3d(1,1,1);
    transition-property: transform;
    transition-duration: .1s;
    filter: blur(0);
}

.card:before {
    content: '';
    width: 30.2rem;
    height: 22.8rem;
    background: url(../img/card/cardFrame.svg) 100% 0 no-repeat;
    display: block;
    position: absolute;
    background-size: 30.5rem;
}

.card.no-border:before {
    display: none;
}

.ad-card {
    padding: 0.6rem;
    position: relative;
    height: 23rem;
    width: 30.6rem;
}

.cardInfo {
    position: absolute;
    width: 28.3rem;
    height: 2.6rem;
    bottom: 1.4rem;
    right: 0.3rem;
    background: url(../img/card/info.svg) no-repeat top right;
    background-size: 25.2rem;
    text-align: right;
}

.cardTitle {
    display: inline-block;
    position: absolute;
    width: 15.1rem;
    right: 1.5rem;
    top: 0;
    font-size: 1.5rem;
}

.cardLogo {
    width: 3.3rem;
    height: 2.8rem;
    background-size: 19.7rem !important;
    /* border: 1px solid red; */
}

.icone-image {
    background: url(../img/nav/icons.svg) no-repeat 0px -3px;
}

.icone-show {
    background: url(../img/nav/icons.svg) no-repeat -65px -6px;
}

.icone-game {
    background: url(../img/nav/icons.svg) no-repeat -97px -3px;
}

.icone-home {
    background: url(../img/nav/icons.svg) no-repeat -132px -3px;
}

.icone-video {
    background: url(../img/nav/icons.svg) no-repeat -33px -3px;
}

.cardImage {
    width: 29rem;
    height: 22rem;
    margin-top: 0.4rem;
    margin-right: 0.7rem;
}

[lazy] {
    background: red;
}

[lazy][src] {
    background: transparent
}

.stream-wrraper {
    /* background: #fff; */
    overflow: auto;
    padding: 0rem;
}

/* Update on the Bootstrap */
.bootstrap-wrapper .row {
    display: inline;
    margin-left: 0rem;
    margin-right: 0rem;
}

.bootstrap-wrapper [class^="col-"]{
    padding: 0.5rem;
    float: right;
    box-sizing: border-box;
}
.overlay{
    position: absolute;
    height: 100%;
    width:100%;
    background: rgba(0, 0, 0, 0.322);
    top:0px;
    bottom: 0px;
    z-index: 103;
    display: none;
    overflow: hidden;
    scroll-behavior: unset;
}
.show-overlay{
    overflow: hidden
}
.show-overlay .overlay{
    display: block
}



/* -- old anaimation */
/*Bell Hovaring*/
/* .tabs .tab:hover,
.MainNav li:hover,
.indentImg,
.bubbles,
.card:hover ,
.indentImg:hover img,.bubbles:hover img {
    animation-delay: linear;
    animation-duration: 1s;
    animation-name: rangBell;
    animation-fill-mode: forwards;
    animation-iteration-count: 1
}
.logo:hover{
    transform: scale(1.09);
    transition-timing-function: ease-in;
    filter: blur(0);
} 
@keyframes rangBell {
    0% {
        transform: matrix3d(1.05, 0, 0, 0, 0, 1.05, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    3.4% {
        transform: matrix3d(1.034, 0, 0, 0, 0, 1.03, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    4.3% {
        transform: matrix3d(1.03, 0, 0, 0, 0, 1.023, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    4.7% {
        transform: matrix3d(1.028, 0, 0, 0, 0, 1.02, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    6.81% {
        transform: matrix3d(1.017, 0, 0, 0, 0, 1.005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    8.61% {
        transform: matrix3d(1.009, 0, 0, 0, 0, .995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    9.41% {
        transform: matrix3d(1.006, 0, 0, 0, 0, .992, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    10.21% {
        transform: matrix3d(1.003, 0, 0, 0, 0, .989, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    12.91% {
        transform: matrix3d(.995, 0, 0, 0, 0, .984, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    13.61% {
        transform: matrix3d(.994, 0, 0, 0, 0, .983, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    14.11% {
        transform: matrix3d(.993, 0, 0, 0, 0, .983, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    17.22% {
        transform: matrix3d(.99, 0, 0, 0, 0, .987, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    17.52% {
        transform: matrix3d(.99, 0, 0, 0, 0, .988, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    18.72% {
        transform: matrix3d(.989, 0, 0, 0, 0, .991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    21.32% {
        transform: matrix3d(.99, 0, 0, 0, 0, .997, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    24.32% {
        transform: matrix3d(.992, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    25.23% {
        transform: matrix3d(.993, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    28.33% {
        transform: matrix3d(.996, 0, 0, 0, 0, 1.005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    29.03% {
        transform: matrix3d(.997, 0, 0, 0, 0, 1.005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    29.93% {
        transform: matrix3d(.998, 0, 0, 0, 0, 1.005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    35.54% {
        transform: matrix3d(1.001, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    36.74% {
        transform: matrix3d(1.001, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    39.44% {
        transform: matrix3d(1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    41.04% {
        transform: matrix3d(1.002, 0, 0, 0, 0, .999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    44.44% {
        transform: matrix3d(1.002, 0, 0, 0, 0, .998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    100%,
    52.15%,
    59.86%,
    61.66%,
    63.26%,
    75.28%,
    83.98%,
    85.49%,
    90.69% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
}

*/